*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
}

.form{
    width: 400px;
    height: 380px;
    margin: auto;
    margin-top: 12%;
    background-color: black;
    opacity: 0.9;
    border-radius: 10px;
}

.insider{
    padding: 20px;
    font-size: 24px;
    color:white;
}

.insider input{
    width: 350px;
    height: 40px;
    border: none;
    background-color: red;
    opacity: 0.8;
    margin-bottom: 30px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.insider button{
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: bisque;
    font-size: 14px;
}
button:hover{
    background-color: aliceblue;
}

.link{
    display: flex;
    margin-left: 28%;
}

.link a{
    color:white;
    text-decoration: none;
    font-size: 18px;
}

.link a:hover{
    color: red;
}
hr{
    margin-left: 10px;
    margin-right: 10px;
}

.form-header{
    margin-bottom: 10px;
}


