*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-color: bisque;
} */

.modal{
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 25px;
    margin-top: 5%;
    background-color: orange;
    border-radius: 10px;
}

.form-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 5px;
}

#close{
    color:#fff;
    background-color: black;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 15px;
    font-size: 17px;
    cursor: pointer;
}

.form-img img{
    width:300px; 
    height:300px;
}
.form-body{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
    font-size: 24px;
}
.form-body input{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.inside-form{
    display: flex;
    justify-content: space-between;
}
#total{
    font-size: 18px;
}

.form-btn{
    width: 100px;
    height: 30px;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
}
.price{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}
.desc{
    margin-top: 15px;
    line-height: 25px;
}
.desc p{
    margin-top: 10px;
}